{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}
<div>
    <section>
        <div>
            <h1 class="pt-4">{{name}}</h1>
            <em>
                <date>{{birthdate}} - {{deathdate}}</date>
            </em>
            <address class="mt-3">{{birthplace}} - {{deathplace}}</address>
            {{nationality}}
            <p class="mt-3"><strong>{{occupation}}</strong></p>
        </div>
    </section>
    <hr class="my-4">
    <section>
        <div>
            <div class="mb-5">
                <h2 class="mb-3">Known for</h2>
                {{#each known_for}}
                <div>
                    <ul>
                        <li>
                            <dfn>{{this}}</dfn>
                        </li>   
                    </ul>
                </div>
                {{/each}}
            </div>
            <div>
                <h2 class="mb-3">Education</h2>
                <div>
                    {{#each education}}
                        <p>{{degree}}</p>
                        <p><strong>{{field}}</strong></p>
                        <em>
                            <address>{{institution}}</address>
                            <date>{{year}}</date>
                        </em>
                    {{/each}}
                </div>
            </div>
            <div class="my-5">
                <h2 class="mb-4">Notable publications</h2>
                <div>
                    {{#each notable_publications}}
                    <ul>
                        <li class="mb-4">
                            <h6 class="mb-3"><strong>{{title}}</strong></h6>
                            <p class="mb-3">
                                <em><date>{{year}}</date></em>
                            </p>
                            {{publisher}}
                        </li>
                    </ul>
                    {{/each}}
                </div>
            </div>
            <div>
                <h2 class="mb-4">Partners</h2>
                <div>
                    {{#each partners}}
                    <ul>
                        <li class="mb-4">
                            <strong>{{name}}</strong>
                            <p class="mt-3">{{relationship}}</p>
                            <p class="mt-3">
                                <em><date>{{years}}</date></em>
                            </p>
                        </li>
                    </ul>
                    {{/each}}
                </div>
            </div>
            <div class="my-5">
                <h2 class="mb-4">Awards</h2>
                <div>
                    {{#each awards}}
                    <ul>
                        <li>
                            <strong>{{title}}</strong>
                            <p class="mt-3">
                                <em><date>{{year}}</date></em>
                            </p>
                            <p class="mt-3">{{description}}</p>
                        </li>
                    </ul>
                    {{/each}}
                </div>
            </div>
            <div>
                <h2 class="mb-4">Influences</h2>
                <div>
                    {{#each influences}}
                    <ul>
                        <li>
                            <strong>{{this}}</strong>
                        </li>
                    </ul>
                    {{/each}}
                </div>
            </div>
            <div class="my-5">
                <h2 class="mb-4">Influenced</h2>
                <div>
                    {{#each influenced}}
                    <ul>
                        <li>
                            <strong>{{this}}</strong>
                        </li>
                    </ul>
                    {{/each}}
                </div>
            </div>
            <div>
                <h2 class="mb-4">Quotes</h2>
                <div>
                    {{#each quotes}}
                    <ul>
                        <li>
                            <q>
                                <em>
                                    {{this}}
                                </em>
                            </q>
                        </li>
                    </ul>
                    {{/each}}
                </div>
            </div>
            <div class="my-5">
                <h2 class="mb-4">Major discoveries</h2>
                <div>
                    {{#each major_discoveries}}
                    <ul>
                        <li>
                            <strong>{{title}}</strong>
                            <em>
                                <p class="mt-3"><date>{{year}}</date></p>
                                <p>{{description}}</p>
                            </em>
                        </li>
                    </ul>
                    {{/each}}
                </div>
            </div>
            <div>
                <h2 class="mb-4">Contributions</h2>
                <div>
                    {{#with contributions}}
                    <ul>
                        <li>
                            <strong>{{title}}</strong>
                            <em>
                                <p class="mt-3"><date>{{year}}</date></p>
                                <p>{{description}}</p>
                            </em>
                            {{field}}
                        </li>
                    </ul>
                    {{/with}}
                </div>
            </div>
        </div>
    </section>
    <hr class="mt-4">
</div>
    

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
