{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}
<div>
    <section>
        <div>
            <div>
                <h1 class="pt-4">Facebook</h1>
                {{#each users}}
                    <ul>
                        <div>
                            <li>
                                <p class="mb-0 mt-5"><big><span class="badge text-bg-primary">{{id}}</span></big></p>
                                <strong>{{name}}</strong>
                                <p class="mb-5"><em>{{gender}}</em> <big><span class="badge bg-secondary">{{age}}</span></big></p>
                                <h5>Friends:</h5>
                                <ul>
                                    {{#each friends}}
                                    <div>
                                        <li>
                                            <p class="mb-0"><big><span class="badge text-bg-primary">{{id}}</span></big></p>
                                            <p class="mb-0"><strong>{{name}}</strong></p>
                                            <em>{{gender}}</em> <big><span class="badge bg-secondary">{{age}}</span></big>
                                            <h6 class="mt-4">Mutual friends:</h6>
                                            <ul>
                                                {{#each mutual_friends}}
                                                <div>
                                                    <li class="mb-4">
                                                        <p class="mb-0"><big><span class="badge text-bg-primary">{{id}}</span></big></p>
                                                        <p class="mb-0"><strong>{{name}}</strong></p>
                                                        <em>{{gender}}</em> <big><span class="badge bg-secondary">{{age}}</span></big>
                                                    </li>
                                                </div>
                                                {{/each}}
                                            </ul>
                                        </li>
                                    </div>
                                    {{/each}}
                                </ul>
                            </li>
                        </div>
                        <br>
                        <div>
                            <span class="badge text-bg-info mb-4"><h6>Groups</h6></span>
                            <ul>
                            {{#each groups}}
                                <li>
                                <p class="mb-0"><big><span class="badge text-bg-primary">{{id}}</span></big></p>
                                <p class="mb-0"><strong>{{name}}</strong></p>
                                <em>{{description}}</em>
                                <h6 class="mt-4 mb-3">Members:</h6>
                                <ul class="mb-4">
                                    {{#each members}}
                                    <div>
                                        <li class="mb-3">
                                            <p class="mb-0"><big><span class="badge text-bg-primary">{{id}}</span></big></p>
                                            <p class="mb-0"><strong>{{name}}</strong></p>
                                            <em>{{gender}}</em> <big><span class="badge bg-secondary">{{age}}</span></big>
                                            <br>
                                        </li>
                                    </div>
                                {{/each}}
                                </ul>
                            </li>
                        {{/each}}
                        </ul>
                    </div>
                    </ul>
                {{/each}}
            </div>
        </div>
    </section>
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
