{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}
<div>
    <section>
        <div>
            <div>
                <h1 class="pt-4 mb-4">{{name}}</h1>
                <em>
                    <p class="mb-4">{{description}}</p>
                    {{#with history}}
                    <p class="mb-4"><date>{{year}}</date></p>
                </em>
                <strong>{{founder}}</strong>
                {{/with}}
            </div>
            <hr class="my-5">
            <section>
                <div>
                    <div class="mb-5">
                        <h2 class="mb-4">Types</h2>
                        <ul>
                        <div>
                            {{#each types}}
                                <li>
                                    <span class="badge rounded-pill text-bg-info">{{this}}</span>
                                </li>
                            {{/each}}
                        </div>
                        </ul>
                    </div>
                    <div>
                        <div>
                        <h2 class="mb-4">Syntax</h2>
                        <ul>
                            <div>
                                {{#with syntax}}
                                    <li>
                                        {{variables}}
                                    </li>
                                    <li>
                                        {{functions}}
                                    </li>
                                    <li>
                                        {{conditionals}}
                                    </li>
                                    <li>
                                        {{loops}}
                                    </li>
                                    <li>
                                        {{classes}}
                                    </li>
                            {{/with}}
                            </div>
                        </ul>
                    </div>
                    <div class="mt-5">
                        <h2 class="mb-4">Libraries</h2>
                        <ul>
                            <div>
                                {{#each libraries}}
                                    <li>
                                        <span class="badge text-bg-primary">{{this}}</span>
                                    </li>
                                {{/each}}
                            </div>
                        </ul>
                    </div>
                    <div class="mt-5">
                        <h2 class="mb-4">Tools</h2>
                        <ul>
                            <div>
                                {{#each tools}}
                                    <li>
                                        <span class="badge rounded-pill text-bg-dark">{{this}}</span>
                                    </li>
                                {{/each}}
                            </div>
                        </ul>
                    </div>
                    <div class="mt-5">
                        <h2 class="mb-4">Community</h2>
                        <ul>
                            <div>
                                {{#each community}}
                                    <li class="mb-4">
                                        <p class="mb-0"><button type="button" class="btn btn-link">{{name}}</button></p>
                                        <em>{{type}}</em>
                                    </li>
                                {{/each}}
                            </div>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
