{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}
<div>
    <head>
    <section>
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb pt-4">
                    <li class="breadcrumb-item"><a href="#">Category</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Computers & Tablets</li>
                </ol>
            </nav>
        </div>
    </section>
    </head>
    <main>
    <section>
        <div>
            <div>
                <h1 class="mb-4">{{name}}</h1>
                <em>
                    <p class="mb-4">{{description}}</p>
                    <big><span class="badge rounded-pill text-bg-success">Price: {{price}}</span></big>
                </em>
            </div>
            <hr class="my-5">
            <div>
                {{#with features}}
                <div>
                    {{#with processor}}
                    <h2 class="mb-4">Processor</h2>
                    <ul>
                        <div>
                            <li>
                                <big><span class="badge text-bg-primary">{{brand}}</span></big>
                            </li>
                            <li>
                                <big><span class="badge text-bg-secondary">{{model}}</span></big>
                            </li>
                            <li>
                                <big><span class="badge text-bg-warning">{{speed}}</span></big>
                            </li>
                            <li>
                                <strong>{{cores}} cores</strong>
                            </li>
                            <li>
                                <big><span class="badge text-bg-info">{{cache}}</span></big>
                            </li>
                        </div>
                    </ul>
                    {{/with}}
                </div>
                <hr class="my-5">
                <div>
                    {{#with memory}}
                    <h2 class="mb-4">Memory</h2>
                    <ul>
                        <div>
                            <li>
                                <big><span class="badge text-bg-primary">{{type}}</span></big>
                            </li>
                            <li>
                                <big><span class="badge text-bg-info">{{size}}</span></big>
                            </li>
                            <li>
                                <big><span class="badge text-bg-warning">{{speed}}</span></big>
                            </li>                    
                        </div>
                    </ul>
                    {{/with}}
                </div>
                <hr class="my-5">
                <div>
                    {{#with storage}}
                    <h2 class="mb-4">Storage</h2>
                    <ul>
                        <div>
                            <li>
                                <big><span class="badge text-bg-primary">{{type}}</span></big>
                            </li>
                            <li>
                                <big><span class="badge text-bg-info">{{size}}</span></big>
                            </li>      
                        </div>
                    </ul>
                    {{/with}}
                </div>
                <hr class="my-5">
                <div>
                    {{#with display}}
                    <h2 class="mb-4">Display</h2>
                    <ul>
                        <div>
                            <li>
                                <big><span class="badge text-bg-info">{{size}}</span></big>
                            </li>
                            <li>
                                <strong>{{resolution}}</strong>
                            </li>
                            <li>
                                <big><span class="badge text-bg-primary">{{technology}}</span></big>
                            </li>
                            <li>
                                <strong>{{color_space}}</strong>
                            </li>
                            <li>
                                <strong>{{brightness}}</strong>
                            </li>
                            <li>
                                <big><span class="badge text-bg-warning">{{refresh_rate}}</span></big>
                            </li>
                        </div>
                    </ul>
                    {{/with}}
                </div>
                <hr class="my-5">
                <div>
                    {{#with graphics}}
                    <h2 class="mb-4">Graphics</h2>
                    <ul>
                        <div>
                            <li>
                                <big><span class="badge text-bg-primary">{{brand}}</span></big>
                            </li>
                            <li>
                                <big><span class="badge text-bg-secondary">{{model}}</span></big>
                            </li>
                            <li>
                                <big><span class="badge text-bg-info">{{memory}}</span></big>
                            </li> 
                        </div>
                    </ul>
                    {{/with}}
                </div>
                <hr class="my-5">
                <div>
                    <h2 class="mb-4">Ports</h2>
                    {{#each ports}}
                    <ul>
                        <div>
                            <li>
                                <big><span class="badge text-bg-primary mb-4">{{type}}</span></big>
                                <strong>Count: {{count}}</strong>
                                {{#each features}}
                                    <div>
                                        <em>{{this}}</em>
                                    </div>
                                {{/each}}
                            </li>
                        </div>
                    </ul>
                    {{/each}}
                </div>
                <hr class="my-5">
                <div>
                    {{#with battery}}
                    <h2 class="mb-4">Battery</h2>
                    <ul>
                        <div>
                            <li>
                                <big><span class="badge text-bg-primary">{{type}}</span></big>
                            </li>
                            <li>
                                <strong>{{capacity}}</strong>
                            </li>   
                            <li>
                                <strong>{{life}}</strong>
                            </li>     
                        </div>
                    </ul>
                    {{/with}}
                </div>
                <hr class="my-5">
                <div>
                    <h2>Weight: {{weight}}</h2>
                </div>
                <hr class="my-5">
                <div>
                    {{#with dimensions}}
                    <h2 class="mb-4">Dimensions</h2>
                    <ul>
                        <div>
                            <li>
                                <big><span class="badge text-bg-info">Height: {{height}}</span></big>
                            </li>
                            <li>
                                <big><span class="badge text-bg-info">Widht: {{width}}</span></big>
                            </li> 
                            <li>
                                <big><span class="badge text-bg-info">Depth: {{depth}}</span></big>
                            </li>   
                        </div>
                    </ul>
                    {{/with}}
                </div>
                <hr class="my-5">
                <div>
                    <h2>Operating system: {{operating_system}}</h2>
                </div>
                <hr class="my-5">
                <div>
                    <h2 class="mb-4">Accessories</h2>
                    {{#each accessories}}
                    <ul>
                        <div>
                            <li>
                                <p class="mb-0"><big><span class="badge text-bg-primary">{{name}}</span></big></p>
                                <p class="mb-0"><big><span class="badge rounded-pill text-bg-success">Price: {{price}}</span></big></p>
                            </li>
                        </div>
                    </ul>
                    {{/each}}
                </div>
            {{/with}}
        </div>
    </section>
    </main>
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
