<div>
{{#each reviewList}}
    <div class="card mb-5">
        <div class="card-body">
            <div class="card">
                <div class="card-header px-2 py-1 mb-1">
                {{#with title}}
                    <h5>{{userName}}</h5>
                    <p class="mb-2">{{caption}}</p>
                    <p class="mb-1"><date>{{date}}</date></p>
                {{/with}}
                </div>
                <div class="card-body px-2 py-1">
                {{#with reviewBody}}
                    <div>
                    {{#with seller}}
                        {{title}}: {{value}}
                    {{/with}}
                    </div>
                    <div class="my-4">
                    {{#with rating}}
                        {{title}}: {{value}}
                    {{/with}}
                    </div>
                    <div>
                    {{#each text}}
                    {{#if @first}}
                    {{this}}
                    {{/if}}
                    {{/each}}
                    </div>
                    <div class="my-4">
                    {{#each text}}
                    {{#if @last}}
                    {{this}}
                    {{/if}}
                    {{/each}}
                    </div>
                    <div class="my-4">
                    {{#with advantages}}
                        <strong>{{title}}: </strong>
                        <p>{{text}}</p>
                    {{/with}}
                    </div>
                    <div class="my-4">
                    {{#with disadvantages}}
                        <strong>{{title}}: </strong>
                        <p>{{text}}</p>
                    {{/with}}
                    </div>
                    <div class="my-4 row mb-2">
                    {{#each images}}
                    <div class="col-md-2 me-0 pe-0">
                        <img src="{{this}}" class="card-img" alt="Image">
                    </div>
                    {{/each}}                                        
                </div>
            </div>
        </div>
        {{#each coments}}
        <div class="card ms-5 mt-4">
            <div class="card-body">
                <h5>{{userName}}</h5>
                <date><p class="my-2">{{date}}</p></date>
                {{text}}
            </div>
        </div>
        {{/each}}
        {{/with}}
        </div>
    </div>
{{/each}}
</div>
           